In [130]:
list = [3,4,2,5,4,5,4,7,6,4,2]
mean = sum(list) / len(list) 
print(mean)

4.181818181818182

In [131]:
import math
square_root = math.sqrt(64)
print(square_root)

8.0

In [132]:
import math
log_value = math.log(40)
print(log_value)

3.6888794541139363

In [133]:
import math 
angle_value = math.pi /3 
tan_value = math.tan(angle_value)
print(tan_value)

1.7320508075688767

In [134]:
with open('original.txt', 'r') as file:
    text = file.read()

occurrences_of_but = text.count('but')
modified_text = text.replace('but', 'still')
with open('correction.txt', 'w') as file:
    file.write(modified_text)

print(f"Number of occurrences of 'but': {occurrences_of_but}")
with open('correction.txt', 'r') as file:
    updated_text = file.read()
    print("Contents of the updated file:")
    print(updated_text)

Number of occurrences of 'but': 2
Contents of the updated file:
There are plenty of places in the world, still she wants to go to Maldives for her birthday. Initially, she was inclined towards London, still she changed her mind because it was expensive.

In [135]:
list = [x for x in range (50, 501)
        if x % 3 ==0 
        and '6' in str(x)]
print(list)

[60, 63, 66, 69, 96, 126, 156, 162, 165, 168, 186, 216, 246, 261, 264, 267, 276, 306, 336, 360, 363, 366, 369, 396, 426, 456, 462, 465, 468, 486]

In [136]:
planets_dict = {'Mercury': '01', 'Venus': '02', 'Earth': '03', 'Mars': '04', 'Jupiter': '05'}

In [137]:
print("A. Keys and Values:")
for key, value in planets_dict.items():
    print(f'{key}: {value}')

A. Keys and Values:
Mercury: 01
Venus: 02
Earth: 03
Mars: 04
Jupiter: 05

In [138]:
planets_dict['Saturn'] = '06'

In [139]:
planets_dict['Earth'] = '3'

In [140]:
jupiter_value = planets_dict['Jupiter']

In [141]:
print("\nUpdated list:")
for key, value in planets_dict.items():
    print(f'{key}: {value}')

Updated list:
Mercury: 01
Venus: 02
Earth: 3
Mars: 04
Jupiter: 05
Saturn: 06

In [142]:
print(f"\nD. Value for 'Jupiter': {jupiter_value}")

D. Value for 'Jupiter': 05

In [143]:
def find_unique_and_duplicates(list):
    unique_values = []
    duplicate_values = []

    for item in list:
        if list.count(item) > 1 and item not in duplicate_values:
            duplicate_values.append(item)
        elif item not in unique_values:
            unique_values.append(item)

    return unique_values, duplicate_values

list = [5, 2, 3, 4, 7, 2, 6, 5, 3, 2, 9]
unique, duplicates = find_unique_and_duplicates(list)

print("The list of unique values:", unique)
print("The list of duplicate values:", duplicates)

The list of unique values: [4, 7, 2, 6, 5, 3, 9]
The list of duplicate values: [5, 2, 3]

In [144]:
tuple_list = ("My", 1, "visit", "to", "Chicago")

print("The first three elements of the tuple list:")
for a in range (3):
    print(tuple_list[a])

The first three elements of the tuple list:
My
1
visit

In [145]:
def approx_cube_root(number, epsilon=0.01):
    low = 0
    high = number
    guess = (low + high) / 2.0

    while abs(guess**3 - number) >= epsilon:
        if guess**3 < number:
            low = guess
        else:
            high = guess
        guess = (low + high) / 2.0
        
    return guess

number = 410

cube_root = approx_cube_root(number)
print(f"Approximate cube root of {number}: {cube_root}")

Approximate cube root of 410: 7.428927421569824

In [146]:
string = "How much wood would a woodchuck chuck"
words = string.split()
w_words = [word for word in words if word.startswith('w')]
print(w_words)

['wood', 'would', 'woodchuck']

In [147]:
list = [187, 3, 44, 23, 65.3, 50, 325, 33.4, 52.5, 98, 95] 

insert_number = 98.9 

insert_index =0
for a, num in enumerate(list):
    if insert_number < num:
        insert_index = a
        break 
    insert_index = a + 1

list.insert(insert_index, insert_number)
print(list)

[98.9, 187, 3, 44, 23, 65.3, 50, 325, 33.4, 52.5, 98, 95]

In [148]:
import copy

mylist1 = ['x', 'y', 'z']
mylist2 = ['x', 'y', 'z']

object_equality = mylist1 is mylist2
value_equality = mylist1 == mylist2

print("Object Equality:", object_equality)
print("Value Equality:", value_equality)

Object Equality: False
Value Equality: True

In [149]:
shallow_copy = copy.copy(mylist1)
deep_copy = copy.deepcopy(mylist1)

object_equality_shallow = mylist1 is shallow_copy
object_equality_deep = mylist1 is deep_copy

print("Object Equality (mylist1 and Shallow Copy):", object_equality_shallow)
print("Object Equality (mylist1 and Deep Copy):", object_equality_deep)

Object Equality (mylist1 and Shallow Copy): False
Object Equality (mylist1 and Deep Copy): False